body{
    background-color:mistyrose;
font-family: Special Elite, cursive;
}

.header_div{
    background-color: lavender;
    color: navy;
}

.header_div p{
    color: navy;
    font-family: Grand Hotel;
}
.main_div button{
    font-family: Grandstander;
    margin-top: 5px;
    width:130px;
    background-color:lavender;
    font-weight: bold;
    font-size:20px;
}
.copy_right_footer{
    position:fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    font-family: Special Elite, cursive;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(175, 0, 53);
}

